/*-- scss:defaults --*/

$body-bg: #0f151a;
$body-color: #e7edf0;
$link-color: #8fd8c1;
$link-hover-color: #b4eadb;
$border-color: #33424a;
$navbar-bg: #111a20;
$navbar-hl: #8fd8c1;
$code-color: #e7edf0;
$code-bg: #172026;
$code-block-bg: #172026;

