/*-- scss:defaults --*/

$primary: #246b57 !default;
$link-color: #246b57 !default;
$navbar-bg: #213d35 !default;
$navbar-fg: #ffffff !default;
$navbar-hl: #b9e4d3 !default;
$font-size-base: 1rem !default;
